<div class='container center'>
  <div class='row'>
    <img src="/asset/image/burgericon.png" alt="burger" />  </div>


<div class= 'col-sm-'>
<h1>Burgers!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devoured" data-id="{{this.id}}">devour it!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>


 </div> 


<div>
  <ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">add</button>
</form>
</div>
<div class="col-sm">Devoured</div>

</div>





