<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<div class='container '>
    <img src="/asset/image/burgericon.png" alt="burger" /> 
    <h1>Burgers!</h1> 
    </div>



<div class="row ">
<div class= 'col-md-6'>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devoured" data-id="{{this.id}}">devour it!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>


 </div> 


<div class= 'col-md-6'>
  <ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

</div>

<div class= "container center ">

<h2>Add a Burger</h2>
<form class="create-form">
<div class="row">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
      <button type="submit">add</button>
  </div>

</form>

</div>
  
</div>


</div>






